---
layout: default
---


<main class="container">
  <article class="blog-article">
    <header class="blog-article-header">
      <div class="blog-article-category">{{ page.category }}</div>
      <h1 class="blog-article-title">{{ page.title }}</h1>
      <div class="blog-article-meta">
        <span class="blog-article-date">{{ page.date | date: "%Y. %m. %d" }}</span>
        <span class="blog-article-author">정연희</span>
        <span class="blog-article-readtime">{{ page.readtime }}</span>
      </div>
    </header>
    
    <div class="blog-article-content">
      {{ content }}
    </div>
  </article>
</main>
